{% extends 'base.html.twig' %}

{% block title %}daktaras{% endblock %}

{% block body %}
    <body class="bc-index">
        {% include 'components/navbar.html.twig' %}
        {% if edit == true %}
            {% include 'components/edit_doctor_profile.html.twig' %}
        {% else %}
            {% include 'components/doctor_profile.html.twig' %}
        {% endif %}
    </body>
{% endblock %}