{% extends 'base.html.twig' %}

{% block title %}Puslapis Nerastas{% endblock %}

{% block body %}
    <div class="error-background">
        <img class="error-image" src="/images/ErrorPage.png"></img>
    </div>
{% endblock %}