{% extends 'base.html.twig' %}

{% block title %}pagrindinis{% endblock %}

{% block body %}
    <body class="bc-index">
        {% include 'components/navbar.html.twig' %}
        {% include 'components/search.html.twig' %}
    </body>     
{% endblock %}
