{% extends 'base.html.twig' %}

{% block title %}pagrindinis{% endblock %}

{% block body %}
    <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}
        {% include 'components/layout/search.html.twig' %}
    </body>     
{% endblock %}
