{% extends 'base.html.twig' %}


{% block body %}
    <body class="bc-index">
        {% include 'components/navbar.html.twig' %}
        {% include 'components/search.html.twig' %}
        <select>
            <option value="-">-</option>
            {% for specialty in specialties %}
                <option value="{{ specialty.getId() }}">
                    {{ specialty.getName() }}
                </option>
            {% endfor %}
        </select>
    </body>
        
{% endblock %}
