{% extends 'base.html.twig' %}

{% block title %}prisijungimas{% endblock %}

{% block body %}
    <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}
        {% include 'components/layout/login-page.html.twig' %}
    </body>
{% endblock %}