{% extends 'base.html.twig' %}

{% block title %}pacientas{% endblock %}

{% block body %}
    <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}
        {% if edit == true %}
            {% include 'components/page/patient/edit.html.twig' %}
        {% else %}
            {% include 'components/page/patient/entry.html.twig' %}
        {% endif %}
    </body>
{% endblock %}