{#{% extends 'base.html.twig' %}#}

{#{% block title %}registracija{% endblock %}#}

{#{% block body %}#}
{#	<body class="bc-index">#}
{#		{% include 'components/layout/navbar.html.twig' %}#}
{#		{% include 'components/layout/registration.html.twig' %}#}
{#	</body>#}
{#{% endblock %}#}
