{% extends 'base.html.twig' %}

{% block title %}resultatai{% endblock %}

{% block body %}
    <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}
        {% include 'components/layout/results-table.html.twig' %}
    </body>
{% endblock %}