{% extends 'base.html.twig' %}

{% block title %}Gydymo istaigos paskyra{% endblock %}

{% block body %}
    <body class="bc-index">
    {% include 'components/layout/navbar.html.twig' %}
    <div class="wrap edit-wrap">
        <h3 class="search-header">Redaguoti Profilį:</h3>
        {{ form(clinic_info_form) }}
    </div>
    </body>
{% endblock %}