{% extends 'base.html.twig' %}

{% block title %}Gydymo įstaiga{% endblock %}

{% block body %}
    <body class="bc-index">
    {% include 'components/layout/navbar.html.twig' %}
    {% include 'clinic/entry.html.twig' %}
    </body>
{% endblock %}