{% extends 'base.html.twig' %}

{% block title %}Klinika{% endblock %}

{% block body %}
        <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}
        {% include 'clinic/information.html.twig' %}
        </body>
{% endblock %}