{% extends 'base.html.twig' %}

{% block title %}Klinika{% endblock %}

{% block body %}
        <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}
        {#        {% if edit == true %}#}
        {#                {% include 'components/page/doctor/edit.html.twig' %}#}
        {#        {% else %}#}
        {% include 'clinic/information.html.twig' %}
        {#        {% endif %}#}
        </body>
{% endblock %}