{% extends 'base.html.twig' %}

{% block title %}pacientas{% endblock %}

{% block body %}
    <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}
        {% include 'patient/entry.html.twig' %}
    </body>
{% endblock %}