{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if patient.getUserInfo().getName() is not defined or patient.getUserInfo().getName() is null %}
        no patient found
    {% else %}
        {{ patient.getUserInfo().getName() }}
    {% endif %}
</div>
{% endblock %}
