{% block navbar %}
  <nav>
    <a href="/"><img class="bc-logo" src="/images/BClogo.png"></img></a>
    {% if app.user %}
      <ul class="bc-item">
        <li><button class="bc-link bc-spec" onclick="location.href='/logout'">Atsijungti</button></li>
        {% if app.user.getRole() == 1 %}
          <li><button class="bc-link bc-spec" onclick="location.href='/patient'">Mano Paskyra</button></li>
        {% elseif app.user.getRole() == 2 %}
          <li><button class="bc-link bc-spec" onclick="location.href='/specialist'">Mano Paskyra</button></li>
        {% elseif app.user.getRole() == 3 %}
          <li><button class="bc-link bc-spec" onclick="location.href='/clinic'">Mano Paskyra</button></li>
        {% endif %}
      </ul>
    {% else %}
      <ul class="bc-item">
        <li><button class="bc-link bc-spec" onclick="location.href='/login'">Prisijungti</button></li>
        <li><button class="bc-link" onclick="location.href='/register'">Registruotis</button></li>
      </ul>
    {% endif %}
    {#{% endif %}#}
  </nav>
{% endblock %}