{% extends 'base.html.twig' %}

{% block title %}Asmenine paskyra{% endblock %}

{% block body %}
    <body class="bc-index">
    {% include 'components/layout/navbar.html.twig' %}
    <div class="wrap edit-wrap">
        {% if message is defined and message is not null %}
            <h3 class="search-header">Užpildykite Anketą:</h3>
            {% else %}
            <h3 class="search-header">Redaguoti Profilį:</h3>
        {% endif %}

        {{ form(user_info_form) }}
    </div>
    </body>
{% endblock %}