// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.bc-index {
  background: url("/build/BCbackground.jpg") no-repeat center center fixed ;
  background-size: cover; 
}

.bc-logo {
  width: 150px;
  height: 150px;
  margin-left: 50px;
  margin-top: 30px;
}

.nav-item {
  list-style: none;
  position:absolute;
  top:0;
  right:0;
  margin-top: 45px;
  margin-right: 30px;
}

.nav-link {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 10px;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 3px #fea757;
  color: #fea757;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  float: right;
}

.nav-spec {
  padding: 16px 40px;
}

.nav-link::before, .nav-link::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav-link {
  transition: color 0.25s;
}

.nav-link::before, .nav-link::after {
  border: 3px solid transparent;
  width: 0;
  height: 0;
}

.nav-link::before {
  top: 0;
  left: 0;
}

.nav-link::after {
  bottom: 0;
  right: 0;
}

.nav-link:hover {
  color: #5185fa;
}

.nav-link:hover::before, .nav-link:hover::after {
  width: 100%;
  height: 100%;
}

.nav-link:hover::before {
  border-top-color: #5185fa;
  border-right-color: #5185fa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.nav-link:hover::after {
  border-bottom-color: #5185fa;
  border-left-color: #5185fa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}


.search {
  width: 600px;
  display: flex;
  position:fixed;
  top: 50%;
  left: -20%;
}

.search-term {
  width: 600px;
  border: 3px solid #196cba;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #ffffff;
  font-size: 24px;
  background: #4ca1f2;
}

.search-button {
  width: 80px;
  border: 3px solid #196cba;
  border-left: 1px solid #196cba;
  background: #4ca1f2;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
  .nav-link {
    background: white;
  }
  .search-term {
    width: 100%;
    font-size: 18px;
  }
  .search {
    width: 100%;
  }
}
