{% extends 'base.html.twig' %}

{% block title %}Specialisto paskyra{% endblock %}

{% block body %}
    <body class="bc-index">
    {% include 'components/layout/navbar.html.twig' %}
    {{ form(specialtiesForm) }}
    </body>
{% endblock %}