{% extends 'base.html.twig' %}

{% block title %}Specialisto paskyra{% endblock %}

{% block body %}
    <body class="bc-index">
    {% include 'components/layout/navbar.html.twig' %}
    {% for specialty in app.user.getUserSpecialties() %}

        <li>{{ specialty.getSpecialtyId().getName() }}</li>
    {% endfor %}
    <div class="wrap edit-wrap">
        <h3 class="search-header">Redaguoti Profilį:</h3>
        {{ form(specialtiesForm) }}
    </div>
    </body>
{% endblock %}