{% extends 'base.html.twig' %}

{% block title %}Specialistas{% endblock %}

{% block body %}
    <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}
        {% include 'specialist/entry.html.twig' %}
    </body>
{% endblock %}