{% extends 'base.html.twig' %}

{% block title %}daktaras{% endblock %}

{% block body %}
        <body class="bc-index">
        {% include 'components/layout/navbar.html.twig' %}
        {% include 'specialist/information.html.twig' %}
        </body>
{% endblock %}