{% block search %}
    <form class="search-bar">
        <div class="wrap">
            <div class="search">
                <input type="text" class="search-term" placeholder="Įveskite įstaigą, specialistą ar miestą...">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
{% endblock %}