{% extends 'base.html.twig' %}

{% block title %}daktaras{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="alert alert-danger"> Puslapis nerastas 404</div>
    </div>
</div>
{% endblock %}