{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="alert alert-danger"> Iškilo nenumatyta klaida, mėginkite vėliau. Error 500 </div>
    </div>
</div>
{% endblock %}